<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header><img src="/img/cooldog.jpg" style="width:20%;height:20%;" alt="A cool dog"></header>
  {{{body}}}
</body>
</html>
