<h1>Welcome to Meadowlark Travel</h1>
{{> weather}}
<p1>It looks for a partial called weather.handlebars in our partials folder</p1>
<p2>You can add subdirectories to the partials folder, and access them with /</p2>
